<mat-card>
  <app-verify></app-verify>
</mat-card>

<mat-card>
  <div class="container">
    <div>
      <p class="three-times-bigger with-italic">
        The most intelligent email verification
      </p>
      <p class="two-times-bigger">
        Do you want to validate your emails' list? <span id="call-to-action">Give it a try</span>. Try as many emails as you want!
      </p>
    </div>
    <mat-list>
      <!-- TODO:  | async -->
      <mat-list-item *ngFor="let v of history">
        <span class="breakable" [ngClass]="{'invalid': v.status!='OK'}"><span>{{v.email}}</span>:&nbsp;<span>{{v.status}}</span></span>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>

<app-footer></app-footer>

