.container {
  min-height: 100%;
}

.mat-card {
  margin: 0 auto;
  max-width: 100%;
}

.invalid {
  color: lightgrey;
}

.breakable {
  word-break: break-all;
}

.three-times-bigger {
  font-size: 3em;
}

.two-times-bigger {
  font-size: 2em;
}

.with-italic {
  font-style: italic;
}

.green-tick {
  color: green;
}

#call-to-action {
  color: orange;
  font-weight: bold;
}

@media screen and (min-device-width: 1200px){

  .mat-card {
    max-width: 80%;
  }
}
