<mat-card>
  <app-verify></app-verify>
</mat-card>

<div class="container">
  <mat-card>
    <div>
      <p class="three-times-bigger with-italic">
        The most intelligent email verification
      </p>
      <p class="two-times-bigger">
        Do you want to validate your emails' list? <span id="call-to-action">Give it a try!</span>
      </p>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let v of history">
        <span class="breakable" [ngClass]="{'invalid': v.status!='OK'}">
          <span>{{v.email}}</span>:
          &nbsp;
          <span>{{v.status}}</span>
          &nbsp;
          <span *ngIf="v.status == 'OK'" class="green-tick">&#10003;</span>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

<app-footer></app-footer>

